*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root{
    --azul-logo: #0000FF;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding-bottom: -200px;
    display: flex;
    box-shadow: 0 0 8px #1919193e;
    background-color: #fff;
    justify-content: space-around;
}

header a{
    color: black;
}

.logo-nav img{
    margin: 20px;
    width: 250px;
}

nav ul{
    width: 30rem;
}

nav ul .flex{
    margin-top: 30px;
    gap: 30px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
    padding: 0 10px;
    position: relative;
}

nav ul li a:hover{
    color: var(--azul-logo);
}

nav ul li a::before{
    content: "";
    background-color: #0000FF;
    position: absolute;
    left: 10px;
    bottom: -0.3rem;
    height: 3px;
    width: 0;
    transition: all .3s;
}

nav ul li a:hover::before{
    width: 80%;
    bottom: -0.3rem;
}

.e-tv{
    margin-left: 500px;
    margin-top: 10px;
}

.e-tv img{
    margin-right: 40px;
    width: 70px;
}

.e-tv-btn{
    display: flex;
    font-size: 20px;
    margin-top: 23px;
    gap: 5px;
}

.e-tv-btn a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.sign-in .flex{
    margin-left: -100px;
    color: white;
    padding: 10px 20px;
    background-color: black;
    border-radius: 10px;
}

.sign-in i{
    margin-right: 10px;
}

.register {
    margin-top: 10px;
}

.register span{
    margin-left: 5px;
    color: white;
    padding: 10px 20px;
    background-color: blue;
    border-radius: 10px;
}

.inicio{
    width: 100%;
    position: absolute;
    color: white;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
}

.inicio h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}

.inicio h1 span{
    color: #0000FF;
}

.inicio p{
    font-size: 20px;
}

.inicio button{
    margin-top: 30px;
    font-size: 20px;
    padding: 20px 30px;
    border: 2px solid white;
    background-color: #0000FF;
    color: white;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.inicio button:hover{
    transform: scale(1.03);
}

.last-race{
    text-decoration: none;
    text-align: center;
}
.last-race a{
    color: white;
    text-decoration: none;
}
.last-race .flex{
    margin-top: 150px;
    gap: 10px;
}

.last-race i{
    font-size: 20px;
    color: #0077ff;
}

.teams{
    margin-top: 50px;
}

.teams h2{
    font-weight: 500;
}

.banner-desktop video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.banner-mobile video{
    display: none;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}

/* RULES */
section.rules h2{
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 100px;
}

section.rules h2 span{
    color: #0000FF;
}

.rules-content .flex{
    gap: 20px;
}

.rules-content .card{
    margin-top: 50px;
}

.rules-content img{
    width: 700px;
    border-radius: 10px;
}

.rules-text h3{
    font-size: 30px;
}

.rules-text p{
    font-size: 18px;
    margin-top: 15%;
    text-align: justify;
}

.lastcard{
    padding-bottom: 30px;
}
/*FIM RULES */


@media screen and (max-width: 1280px){
    .e-tv{
        margin-left: -70px;
    }

    .e-tv img{
        margin-right: 40px;
        margin-top: 5px;
        width: 55px;
    }

    .flex{
        margin-left: -40px;
    }

    nav ul{
        margin-top: 32px;
    }

    .sign-in{
        margin-top: 1px;
    }

    .register {
        margin-top: 10px;
    }

    .last-race .flex{
        margin-top: 150px;
        margin-left: 100px;
        gap: 10px;
    }
}

@media screen and (max-width: 884px){
    .logo-nav img{
        width: 100px;
        margin-left: 0px;
        padding-top: 10px;
    }
    .e-tv{
        margin-left: -70px;
    }
    
    .flex{
        margin-left: -45px;
    }
    .e-tv{
        display: none;
    }
    .sign-in{
        font-size: 15px;
    }
    
    .register{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px){
    .nav-links{
        height: 100vh;
        margin: 0;     
        padding: 0;    
        box-sizing: border-box;
        background-color: #fff;
    }

    ul.nav-links.active{
        margin-top: 30px;
        margin-left: -200px;
    }

    .e-tv-btn{
        display: none;
    }

    header .logo-nav img{
        margin-left: -100px;
        width: 250px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-hamburger .bar {
        width: 25px;
        height: 3px;
        background: #0039f3;
        margin: 4px 0;
        transition: all 0.3s;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-links .flex{
        flex-direction: column;
        padding-left: 30px;
    }

    .nav-links li {
        margin: 0;
        
    }

    .nav-links a {
        z-index: 9999;
        color: #000000;
        text-decoration: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 200px;
        z-index: 9999;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-hamburger .bar:nth-child(2) {
        opacity: 1;
    }

    .menu-hamburger.toggle .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-hamburger.toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-hamburger.toggle .bar:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
    }
}
